<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weathericon.png">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>

    
    <title>About</title>

</head>
<body>

    <div class="maincontent">

    {{>header}}
    <p>This site was created by Renan Malato. It uses data from mapbox.com and weather</p>
    <p>created by: {{name}}</p>
        <img class="portrait" src="/img/myavatar.jpeg" width="300" alt="me">
        </div>
    {{>footer}}
    
</body>
</html>